dot_emacs.d/elpa
dot_emacs.d/elpa-*
dot_emacs.d/.cask
dot_emacs.d/straight
dot_emacs.d/quelpa
dot_emacs.d/auto-save-list
dot_emacs.d/backups
dot_emacs.d/recentf
dot_emacs.d/transient
temp/
tmp/
*~
\#*\#
.\#*

# ~/.claude: 認証情報・会話ログ・キャッシュを公開リポジトリに載せないための保険。
# chezmoi add でうっかり取り込んでも git には乗らないようにしておく。
dot_claude/*
!dot_claude/settings.json.tmpl
